<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>actor1/actor_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{212,226}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{212,226}}</string>
                <key>sourceSize</key>
                <string>{212,230}</string>
            </dict>
            <key>actor1/actor_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,0},{98,98}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,59},{98,98}}</string>
                <key>sourceSize</key>
                <string>{212,230}</string>
            </dict>
            <key>actor1/actor_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,0},{98,98}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,59},{98,98}}</string>
                <key>sourceSize</key>
                <string>{212,230}</string>
            </dict>
            <key>actor1/actor_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,0},{98,98}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,59},{98,98}}</string>
                <key>sourceSize</key>
                <string>{212,230}</string>
            </dict>
            <key>actor1/actor_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,0},{98,98}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,59},{98,98}}</string>
                <key>sourceSize</key>
                <string>{212,230}</string>
            </dict>
            <key>actor1/actor_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,0},{98,98}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,59},{98,98}}</string>
                <key>sourceSize</key>
                <string>{212,230}</string>
            </dict>
            <key>actor1/actor_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,0},{98,98}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,59},{98,98}}</string>
                <key>sourceSize</key>
                <string>{212,230}</string>
            </dict>
            <key>actor1/actor_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,0},{98,98}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,59},{98,98}}</string>
                <key>sourceSize</key>
                <string>{212,230}</string>
            </dict>
            <key>actor1/actor_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,0},{98,98}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,59},{98,98}}</string>
                <key>sourceSize</key>
                <string>{212,230}</string>
            </dict>
            <key>actor10/actor_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,0},{212,214}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{212,214}}</string>
                <key>sourceSize</key>
                <string>{212,230}</string>
            </dict>
            <key>actor2/actor_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,0},{212,226}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{212,226}}</string>
                <key>sourceSize</key>
                <string>{212,230}</string>
            </dict>
            <key>actor2/actor_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,0},{72,74}}</string>
                <key>offset</key>
                <string>{-28,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,74},{72,74}}</string>
                <key>sourceSize</key>
                <string>{212,230}</string>
            </dict>
            <key>actor2/actor_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,0},{80,74}}</string>
                <key>offset</key>
                <string>{-32,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,74},{80,74}}</string>
                <key>sourceSize</key>
                <string>{212,230}</string>
            </dict>
            <key>actor2/actor_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,0},{72,74}}</string>
                <key>offset</key>
                <string>{-28,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,74},{72,74}}</string>
                <key>sourceSize</key>
                <string>{212,230}</string>
            </dict>
            <key>actor2/actor_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1546,0},{72,74}}</string>
                <key>offset</key>
                <string>{-28,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,75},{72,74}}</string>
                <key>sourceSize</key>
                <string>{212,230}</string>
            </dict>
            <key>actor3/actor_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,0},{202,220}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{202,220}}</string>
                <key>sourceSize</key>
                <string>{212,230}</string>
            </dict>
            <key>actor3/actor_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,226},{90,98}}</string>
                <key>offset</key>
                <string>{24,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,56},{90,98}}</string>
                <key>sourceSize</key>
                <string>{212,230}</string>
            </dict>
            <key>actor3/actor_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,226},{90,98}}</string>
                <key>offset</key>
                <string>{24,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,56},{90,98}}</string>
                <key>sourceSize</key>
                <string>{212,230}</string>
            </dict>
            <key>actor3/actor_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,226},{90,98}}</string>
                <key>offset</key>
                <string>{24,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,56},{90,98}}</string>
                <key>sourceSize</key>
                <string>{212,230}</string>
            </dict>
            <key>actor3/actor_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,226},{90,98}}</string>
                <key>offset</key>
                <string>{24,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,56},{90,98}}</string>
                <key>sourceSize</key>
                <string>{212,230}</string>
            </dict>
            <key>actor4/actor_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,226},{212,212}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{212,212}}</string>
                <key>sourceSize</key>
                <string>{212,230}</string>
            </dict>
            <key>actor5/actor_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,226},{212,200}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{212,200}}</string>
                <key>sourceSize</key>
                <string>{212,230}</string>
            </dict>
            <key>actor6/actor_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,226},{212,204}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{212,204}}</string>
                <key>sourceSize</key>
                <string>{212,230}</string>
            </dict>
            <key>actor7/actor_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,226},{202,200}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{202,200}}</string>
                <key>sourceSize</key>
                <string>{212,230}</string>
            </dict>
            <key>actor8/actor_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,226},{212,200}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{212,200}}</string>
                <key>sourceSize</key>
                <string>{212,230}</string>
            </dict>
            <key>actor9/actor_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,226},{212,222}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{212,222}}</string>
                <key>sourceSize</key>
                <string>{212,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>head.pvr.ccz</string>
            <key>size</key>
            <string>{1820,448}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d5a18c968ff591e1e52f019df5865f13:c670e2d9e2983c1dcef71821f8e7b8d0:b67cb37aeffeeebf0a126bc878b83aa5$</string>
            <key>textureFileName</key>
            <string>head.pvr.ccz</string>
        </dict>
    </dict>
</plist>
