<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <dict>
        <key>forms</key>
        <array>
            <dict>
                <key>map</key>
                <array>
                    <array>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                    </array>
                    <array>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                    </array>
                    <array>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                    </array>
                    <array>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                    </array>
                    <array>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                    </array>
                    <array>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                    </array>
                    <array>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                    </array>
                </array>
                <key>reward</key>
                <array>
                    <string>target:detect|type:add~~~typeId:2001001|site:{5,1}</string>
                    <string>sdfsfsfsfsfsf</string>
                </array>
            </dict>
            <dict>
                <key>map</key>
                <array>
                    <array>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                    </array>
                    <array>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                    </array>
                    <array>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                    </array>
                    <array>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                    </array>
                    <array>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                    </array>
                    <array>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                    </array>
                    <array>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                    </array>
                </array>
                <key>reward</key>
                <array>
                    <string>target:detect|type:add~~~typeId:2001001|site:{5,1}</string>
                    <string>sdfsfsfsfsfsf</string>
                </array>
            </dict>
            <dict>
                <key>map</key>
                <array>
                    <array>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                    </array>
                    <array>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                    </array>
                    <array>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                    </array>
                    <array>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                    </array>
                    <array>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                    </array>
                    <array>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                    </array>
                    <array>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                    </array>
                </array>
                <key>reward</key>
                <array>
                    <string>target:detect|type:add~~~typeId:2001001|site:{5,1}</string>
                    <string>sdfsfsfsfsfsf</string>
                </array>
            </dict>
            <dict>
                <key>map</key>
                <array>
                    <array>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                    </array>
                    <array>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                    </array>
                    <array>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                    </array>
                    <array>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                    </array>
                    <array>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                    </array>
                    <array>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                    </array>
                    <array>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                    </array>
                </array>
                <key>reward</key>
                <array>
                    <string>target:detect|type:add~~~typeId:2001001|site:{5,1}</string>
                    <string>sdfsfsfsfsfsf</string>
                </array>
            </dict>
            <dict>
                <key>map</key>
                <array>
                    <array>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                    </array>
                    <array>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                    </array>
                    <array>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                    </array>
                    <array>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                    </array>
                    <array>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                    </array>
                    <array>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                    </array>
                    <array>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                        <integer>0</integer>
                    </array>
                </array>
                <key>reward</key>
                <array>
                    <string>target:detect|type:add~~~typeId:2001001|site:{5,1}</string>
                    <string>sdfsfsfsfsfsf</string>
                </array>
            </dict>
        </array>
        <key>switchs</key>
        <array>
            <dict>
                <key>floorId</key>
                <integer>4</integer>
                <key>typeId</key>
                <integer>2005006</integer>
                <key>site</key>
                <string>{2.000000,4.000000}</string>
                <key>towerId</key>
                <integer>6</integer>
            </dict>
            <dict>
                <key>floorId</key>
                <integer>4</integer>
                <key>typeId</key>
                <integer>2005006</integer>
                <key>site</key>
                <string>{2.000000,5.000000}</string>
                <key>towerId</key>
                <integer>6</integer>
            </dict>
            <dict>
                <key>floorId</key>
                <integer>4</integer>
                <key>typeId</key>
                <integer>2005006</integer>
                <key>site</key>
                <string>{2.000000,6.000000}</string>
                <key>towerId</key>
                <integer>6</integer>
            </dict>
            <dict>
                <key>floorId</key>
                <integer>4</integer>
                <key>typeId</key>
                <integer>2005006</integer>
                <key>site</key>
                <string>{2.000000,7.000000}</string>
                <key>towerId</key>
                <integer>6</integer>
            </dict>
            <dict>
                <key>floorId</key>
                <integer>4</integer>
                <key>typeId</key>
                <integer>2005006</integer>
                <key>site</key>
                <string>{2.000000,8.000000}</string>
                <key>towerId</key>
                <integer>6</integer>
            </dict>
            <dict>
                <key>floorId</key>
                <integer>4</integer>
                <key>typeId</key>
                <integer>2005006</integer>
                <key>site</key>
                <string>{2.000000,9.000000}</string>
                <key>towerId</key>
                <integer>6</integer>
            </dict>
            <dict>
                <key>floorId</key>
                <integer>4</integer>
                <key>typeId</key>
                <integer>2005006</integer>
                <key>site</key>
                <string>{2.000000,10.000000}</string>
                <key>towerId</key>
                <integer>6</integer>
            </dict>
            <dict>
                <key>floorId</key>
                <integer>4</integer>
                <key>typeId</key>
                <integer>2005006</integer>
                <key>site</key>
                <string>{3.000000,4.000000}</string>
                <key>towerId</key>
                <integer>6</integer>
            </dict>
            <dict>
                <key>floorId</key>
                <integer>4</integer>
                <key>typeId</key>
                <integer>2005006</integer>
                <key>site</key>
                <string>{3.000000,5.000000}</string>
                <key>towerId</key>
                <integer>6</integer>
            </dict>
            <dict>
                <key>floorId</key>
                <integer>4</integer>
                <key>typeId</key>
                <integer>2005006</integer>
                <key>site</key>
                <string>{3.000000,6.000000}</string>
                <key>towerId</key>
                <integer>6</integer>
            </dict>
            <dict>
                <key>floorId</key>
                <integer>4</integer>
                <key>typeId</key>
                <integer>2005006</integer>
                <key>site</key>
                <string>{3.000000,7.000000}</string>
                <key>towerId</key>
                <integer>6</integer>
            </dict>
            <dict>
                <key>floorId</key>
                <integer>4</integer>
                <key>typeId</key>
                <integer>2005006</integer>
                <key>site</key>
                <string>{3.000000,8.000000}</string>
                <key>towerId</key>
                <integer>6</integer>
            </dict>
            <dict>
                <key>floorId</key>
                <integer>4</integer>
                <key>typeId</key>
                <integer>2005006</integer>
                <key>site</key>
                <string>{3.000000,9.000000}</string>
                <key>towerId</key>
                <integer>6</integer>
            </dict>
            <dict>
                <key>floorId</key>
                <integer>4</integer>
                <key>typeId</key>
                <integer>2005006</integer>
                <key>site</key>
                <string>{3.000000,10.000000}</string>
                <key>towerId</key>
                <integer>6</integer>
            </dict>
            <dict>
                <key>floorId</key>
                <integer>4</integer>
                <key>typeId</key>
                <integer>2005006</integer>
                <key>site</key>
                <string>{4.000000,4.000000}</string>
                <key>towerId</key>
                <integer>6</integer>
            </dict>
            <dict>
                <key>floorId</key>
                <integer>4</integer>
                <key>typeId</key>
                <integer>2005006</integer>
                <key>site</key>
                <string>{4.000000,5.000000}</string>
                <key>towerId</key>
                <integer>6</integer>
            </dict>
            <dict>
                <key>floorId</key>
                <integer>4</integer>
                <key>typeId</key>
                <integer>2005006</integer>
                <key>site</key>
                <string>{4.000000,6.000000}</string>
                <key>towerId</key>
                <integer>6</integer>
            </dict>
            <dict>
                <key>floorId</key>
                <integer>4</integer>
                <key>typeId</key>
                <integer>2005006</integer>
                <key>site</key>
                <string>{4.000000,7.000000}</string>
                <key>towerId</key>
                <integer>6</integer>
            </dict>
            <dict>
                <key>floorId</key>
                <integer>4</integer>
                <key>typeId</key>
                <integer>2005006</integer>
                <key>site</key>
                <string>{4.000000,8.000000}</string>
                <key>towerId</key>
                <integer>6</integer>
            </dict>
            <dict>
                <key>floorId</key>
                <integer>4</integer>
                <key>typeId</key>
                <integer>2005006</integer>
                <key>site</key>
                <string>{4.000000,9.000000}</string>
                <key>towerId</key>
                <integer>6</integer>
            </dict>
            <dict>
                <key>floorId</key>
                <integer>4</integer>
                <key>typeId</key>
                <integer>2005006</integer>
                <key>site</key>
                <string>{4.000000,10.000000}</string>
                <key>towerId</key>
                <integer>6</integer>
            </dict>
            <dict>
                <key>floorId</key>
                <integer>4</integer>
                <key>typeId</key>
                <integer>2005006</integer>
                <key>site</key>
                <string>{5.000000,4.000000}</string>
                <key>towerId</key>
                <integer>6</integer>
            </dict>
            <dict>
                <key>floorId</key>
                <integer>4</integer>
                <key>typeId</key>
                <integer>2005006</integer>
                <key>site</key>
                <string>{5.000000,5.000000}</string>
                <key>towerId</key>
                <integer>6</integer>
            </dict>
            <dict>
                <key>floorId</key>
                <integer>4</integer>
                <key>typeId</key>
                <integer>2005006</integer>
                <key>site</key>
                <string>{5.000000,6.000000}</string>
                <key>towerId</key>
                <integer>6</integer>
            </dict>
            <dict>
                <key>floorId</key>
                <integer>4</integer>
                <key>typeId</key>
                <integer>2005006</integer>
                <key>site</key>
                <string>{5.000000,7.000000}</string>
                <key>towerId</key>
                <integer>6</integer>
            </dict>
            <dict>
                <key>floorId</key>
                <integer>4</integer>
                <key>typeId</key>
                <integer>2005006</integer>
                <key>site</key>
                <string>{5.000000,8.000000}</string>
                <key>towerId</key>
                <integer>6</integer>
            </dict>
            <dict>
                <key>floorId</key>
                <integer>4</integer>
                <key>typeId</key>
                <integer>2005006</integer>
                <key>site</key>
                <string>{5.000000,9.000000}</string>
                <key>towerId</key>
                <integer>6</integer>
            </dict>
            <dict>
                <key>floorId</key>
                <integer>4</integer>
                <key>typeId</key>
                <integer>2005006</integer>
                <key>site</key>
                <string>{5.000000,10.000000}</string>
                <key>towerId</key>
                <integer>6</integer>
            </dict>
            <dict>
                <key>floorId</key>
                <integer>4</integer>
                <key>typeId</key>
                <integer>2005006</integer>
                <key>site</key>
                <string>{6.000000,4.000000}</string>
                <key>towerId</key>
                <integer>6</integer>
            </dict>
            <dict>
                <key>floorId</key>
                <integer>4</integer>
                <key>typeId</key>
                <integer>2005006</integer>
                <key>site</key>
                <string>{6.000000,5.000000}</string>
                <key>towerId</key>
                <integer>6</integer>
            </dict>
            <dict>
                <key>floorId</key>
                <integer>4</integer>
                <key>typeId</key>
                <integer>2005006</integer>
                <key>site</key>
                <string>{6.000000,6.000000}</string>
                <key>towerId</key>
                <integer>6</integer>
            </dict>
            <dict>
                <key>floorId</key>
                <integer>4</integer>
                <key>typeId</key>
                <integer>2005006</integer>
                <key>site</key>
                <string>{6.000000,7.000000}</string>
                <key>towerId</key>
                <integer>6</integer>
            </dict>
            <dict>
                <key>floorId</key>
                <integer>4</integer>
                <key>typeId</key>
                <integer>2005006</integer>
                <key>site</key>
                <string>{6.000000,8.000000}</string>
                <key>towerId</key>
                <integer>6</integer>
            </dict>
            <dict>
                <key>floorId</key>
                <integer>4</integer>
                <key>typeId</key>
                <integer>2005006</integer>
                <key>site</key>
                <string>{6.000000,9.000000}</string>
                <key>towerId</key>
                <integer>6</integer>
            </dict>
            <dict>
                <key>floorId</key>
                <integer>4</integer>
                <key>typeId</key>
                <integer>2005006</integer>
                <key>site</key>
                <string>{6.000000,10.000000}</string>
                <key>towerId</key>
                <integer>6</integer>
            </dict>
            <dict>
                <key>floorId</key>
                <integer>4</integer>
                <key>typeId</key>
                <integer>2005006</integer>
                <key>site</key>
                <string>{7.000000,4.000000}</string>
                <key>towerId</key>
                <integer>6</integer>
            </dict>
            <dict>
                <key>floorId</key>
                <integer>4</integer>
                <key>typeId</key>
                <integer>2005006</integer>
                <key>site</key>
                <string>{7.000000,5.000000}</string>
                <key>towerId</key>
                <integer>6</integer>
            </dict>
            <dict>
                <key>floorId</key>
                <integer>4</integer>
                <key>typeId</key>
                <integer>2005006</integer>
                <key>site</key>
                <string>{7.000000,6.000000}</string>
                <key>towerId</key>
                <integer>6</integer>
            </dict>
            <dict>
                <key>floorId</key>
                <integer>4</integer>
                <key>typeId</key>
                <integer>2005006</integer>
                <key>site</key>
                <string>{7.000000,7.000000}</string>
                <key>towerId</key>
                <integer>6</integer>
            </dict>
            <dict>
                <key>floorId</key>
                <integer>4</integer>
                <key>typeId</key>
                <integer>2005006</integer>
                <key>site</key>
                <string>{7.000000,8.000000}</string>
                <key>towerId</key>
                <integer>6</integer>
            </dict>
            <dict>
                <key>floorId</key>
                <integer>4</integer>
                <key>typeId</key>
                <integer>2005006</integer>
                <key>site</key>
                <string>{7.000000,9.000000}</string>
                <key>towerId</key>
                <integer>6</integer>
            </dict>
            <dict>
                <key>floorId</key>
                <integer>4</integer>
                <key>typeId</key>
                <integer>2005006</integer>
                <key>site</key>
                <string>{7.000000,10.000000}</string>
                <key>towerId</key>
                <integer>6</integer>
            </dict>
            <dict>
                <key>floorId</key>
                <integer>4</integer>
                <key>typeId</key>
                <integer>2005006</integer>
                <key>site</key>
                <string>{8.000000,4.000000}</string>
                <key>towerId</key>
                <integer>6</integer>
            </dict>
            <dict>
                <key>floorId</key>
                <integer>4</integer>
                <key>typeId</key>
                <integer>2005006</integer>
                <key>site</key>
                <string>{8.000000,5.000000}</string>
                <key>towerId</key>
                <integer>6</integer>
            </dict>
            <dict>
                <key>floorId</key>
                <integer>4</integer>
                <key>typeId</key>
                <integer>2005006</integer>
                <key>site</key>
                <string>{8.000000,6.000000}</string>
                <key>towerId</key>
                <integer>6</integer>
            </dict>
            <dict>
                <key>floorId</key>
                <integer>4</integer>
                <key>typeId</key>
                <integer>2005006</integer>
                <key>site</key>
                <string>{8.000000,7.000000}</string>
                <key>towerId</key>
                <integer>6</integer>
            </dict>
            <dict>
                <key>floorId</key>
                <integer>4</integer>
                <key>typeId</key>
                <integer>2005006</integer>
                <key>site</key>
                <string>{8.000000,8.000000}</string>
                <key>towerId</key>
                <integer>6</integer>
            </dict>
            <dict>
                <key>floorId</key>
                <integer>4</integer>
                <key>typeId</key>
                <integer>2005006</integer>
                <key>site</key>
                <string>{8.000000,9.000000}</string>
                <key>towerId</key>
                <integer>6</integer>
            </dict>
            <dict>
                <key>floorId</key>
                <integer>4</integer>
                <key>typeId</key>
                <integer>2005006</integer>
                <key>site</key>
                <string>{8.000000,10.000000}</string>
                <key>towerId</key>
                <integer>6</integer>
            </dict>
        </array>
    </dict>
</plist>
