<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>terrain1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{2048,1000}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,1000}}</string>
                <key>sourceSize</key>
                <string>{2048,1000}</string>
            </dict>
            <key>terrain2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1000},{2048,1000}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2048,1000}}</string>
                <key>sourceSize</key>
                <string>{2048,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>terrain0.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32cfd8fe308863791c584d51874b4e93:094d756e6c8b8fe6b41b3db656c19dbc:1e26929dd1886cd621f8fe545ae6d1b6$</string>
            <key>textureFileName</key>
            <string>terrain0.png</string>
        </dict>
    </dict>
</plist>
